{% load static %}
{% comment %} # if your using key words you use the % sign  {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ recipe_object.title}} - Scrumptious Recipes</title>
    {% comment %} if you are calling a variable use {{ }} {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}" />
    <style>
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            {% comment %} <a href="{% url 'edit_recipe' %}">Edit Recipe</a> {% endcomment %}
        </nav>
    </header>
    <main>
        <h1> Add {{ post_object.title}}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button>Create</button>
        </form>
    </main>

    <footer>
        Made with  <span class="heart"></span> by Scrumptious Recipes
    </footer>

</body>
</html>
