{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Add Recipe</a>
            {% if recipe_object.id %}
                <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
            {% endif %}
        </nav>
    </header>

    <main>
        <article>
            <h1>{{ recipe_object.title }}</h1>
            {% if recipe_object.picture %}
                <img src="{{ recipe_object.picture.url }}" alt="{{ recipe_object.title }}" width="300" height="400">
            {% endif %}
            <div>
                <p>Created on {{ recipe_object.created_on|date:"F j, Y" }}</p>
            </div>
            <div class="text-box">
                4.3 stars <span class="stars"></span>
            </div>

            <p>{{ recipe_object.description }}</p>

            <section class="ingredients-box">
                <h2>Ingredients List</h2>
                <table class="table-common">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Food Item</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in recipe_object.ingredients.all %}
                            <tr>
                                <td>{{ ingredient.amount }}</td>
                                <td>{{ ingredient.food_item }}</td>
                                <td>
                                    {% if ingredient.food_image %}
                                        <img src="{{ ingredient.food_image.url }}" alt="{{ ingredient.food_item }}">
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>

            <section class="steps-box">
                <h3>Steps</h3>
                <ol>
                    {% for step in recipe_object.steps.all %}
                        <li>{{ step.instruction }}</li>
                    {% endfor %}
                </ol>
            </section>
        </article>
    </main>
{% endblock content %}
