{% extends 'base.html' %}

{% block title %}
    {{ recipe_object.title }}
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>

        <!-- Display the image if it exists -->
        {% if recipe_object.picture %}
            <img src="{{ recipe_object.picture }}" alt="{{ recipe_object.title }} Image" style="max-width: 400px; max-height: 400px;" />
        {% endif %}

        <p>{{ recipe_object.description }}</p>

        <!-- Display other recipe details here -->
        <div class="ingredients">
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in recipe_object.ingredients.all %}
                    <li>{{ ingredient.amount }} of {{ ingredient.food_item }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="steps">
            <h2>Preparation Steps</h2>
            <ol>
                {% for step in recipe_object.steps.all %}
                    <li>{{ step.instruction }}</li>
                {% endfor %}
            </ol>
        </div>
    </main>
{% endblock content %}
