{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}" />
    <style>

        main a {
            color: #007bff;
            text-decoration: none;
        }
        main a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Add Recipe</a>
        </nav>
    </header>
    <main>
        <h1 style="margin-bottom: 20px;" class="italicize">Scrumptious Recipes</h1>
        <h2><strong>ALL</strong> the food that's fit to eat! <span class="fingers"></span></h2>
        <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    <div>
                        <p>{{ recipe.created_on|date:"D d M Y" }}</p>
                    </div>
                </h3>
                <img src="{{ recipe.picture }}">
                <div> 4.3 stars</div>
            </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        Made with  <span class="heart"></span> by Scrumptious Recipes
    </footer>
</body>
</html>
