{% extends 'base.html'%}

{% block title %}
    Scrumptious Recipes
{% endblock title%}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            {% comment %} <a href="{% url 'edit_recipe' %}">Edit Recipe</a> {% endcomment %}
        </nav>
    </header>
    <main>
        <h1> Add {{ post_object.title}}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
