{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <h1>Edit {{ recipe.title }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Manually render each form field -->
            <div>
                {{ recipe_form.title.errors }}
                {{ recipe_form.title.label_tag }} {{ recipe_form.title }}
            </div>

            <div>
                {{ recipe_form.picture.errors }}
                {{ recipe_form.picture.label_tag }}
                <!-- Display the current image, if it exists -->
                {% if recipe.picture %}
                    <img src="{{ recipe.picture }}" alt="{{ recipe.title }} Image" style="max-width: 200px; max-height: 200px;" />
                {% endif %}
                {{ recipe_form.picture }}
            </div>

            <div>
                {{ recipe_form.description.errors }}
                {{ recipe_form.description.label_tag }} {{ recipe_form.description }}
            </div>

            <div>
                {{ recipe_form.email_address.errors }}
                {{ recipe_form.email_address.label_tag }} {{ recipe_form.email_address }}
            </div>

            <div class="ingredients-box">
                <h2>INGREDIENTS LIST</h2>
                {{ ingredient_formset.management_form }}
                <table class="table-common">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Food Item</th>
                            <th>Image</th>
                            <th>Delete?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in ingredient_formset %}
                            <tr>
                                {% for field in form %}
                                    <td>
                                        {{ field.errors }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="steps-box">
                <h3>STEPS</h3>
                {{ recipestep_formset.management_form }}
                <ol>
                    {% for form in recipestep_formset %}
                        <li>
                            {% for field in form %}
                                {{ field.errors }}
                                {{ field }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ol>
            </div>

            <button type="submit">Save</button>
        </form>
    </main>
{% endblock content %}
