{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Add Recipe</a>

            {% if user.is_authenticated %}
              Hello, {{ user.username }}
              <a href="{% url 'user_logout' %}">Logout</a>
              <a href="{% url 'my_recipe_list' %}">My recipes</a>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1 style="margin-bottom: 20px;" class="italicize">Scrumptious Recipes</h1>
        <h2><strong>ALL</strong> the food that's fit to eat! <span class="fingers"></span></h2>
        <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div style="background-color: {% cycle '#FFFFFF' '#FFFFFF' '#A1C3D1' %}">
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <img src="{{ recipe.picture }}">
                <div> 4.3 stars</div>
                <p>
                    Written by
                    {{ recipe.author.username|default:"anonymous"}}
                </p>
                <div>
                    <p>{{ recipe.created_on|date:"D d M Y" }}</p>
                </div>
            </div>
            {% empty %}
                <p> There are no recipes.</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
