/* Import Google Fonts and other global styles here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* Define common styles */
body {
    background-color: #F0EBF4;
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url(https://t4.ftcdn.net/jpg/04/20/45/97/240_F_420459720_0AAnXo7K8J3s3xlyevozP5qaKio9n84d.jpg);
    background-size: contain;
    background-repeat: repeat;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #B39BC8;
}

nav a {
    text-decoration: none;
    color: #f2f2f2;
    margin: 0 20px;
}

.text-box,
.ingredients-box,
.steps-box {
    border: 2px solid #A1C3D1;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    box-sizing: border-box;
}

.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recipe {
    max-width: 30vw;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
}

.recipe img {
    max-width: 50%;
    height: auto;
}

.recipe:hover {
    background-color: #B39BC8;
}

/* Define common styles for symbols */
.heart::before,
.stars::before,
.fingers::before {
    content: "";
    font-size: 20px;
    margin-right: 5px;
}

.heart::before {
    content: "\2665";
    color: #faf2fa;
}

.stars::before {
    content: "\2605";
    color: #EE00EE;
}

.fingers::before {
    content: "\1F595";
    color: #f4eef4;
}


.image-container {
    max-width: 60%;
    overflow: hidden;
    display: block;
}


h1, h2, h3 {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    text-align: center;
}


.ingredients-box,
.steps-box {
    width: 80%;
    background-color: #ffffff;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    border-collapse: collapse;
}

.ingredients-box h2 {
    color: #161616;
    text-align: center;
}

.ingredients-box table,
.steps-box table {
    width: 100%;
    border-collapse: collapse;
}

.ingredients-box th,
.ingredients-box td,
.steps-box th,
.steps-box td {
    border: 1px solid #A1C3D1;
    padding: 10px;
    text-align: left;
}

.steps-box tbody tr:nth-child(odd) {
    background-color: #955d9d;
}

.ingredients-box tbody tr:nth-child(odd) {
    background-color: #ebd8ee;
}

/* Define styles for table headers */
.ingredients-box th {
    background-color: #ffffff;
    color: #000000;
}

.steps-box th {
    background-color: #ffffff; /
    color: #000000;
}


/* Define hover effect for images */
img {
    height: 200px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

img:hover {
    opacity: 0.7;
    transform: rotate(10deg);
}

footer {
    background-color: #B39BC8;
    color: #FFF;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
